<%= form_with(model: @cat, data: { turbo: false }) do |form| %>
  <%= render partial: "partials/form_errors", locals: { model: @cat }%>
  
  <div class="grid">
  <div class="mb-3 mt-3">
    <%= form.label :name, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div><br />

  <div class="mb-3 mt-3">
    <%= form.label :color, class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= form.text_field :color, class: "form-control" %>
    </div>
  </div><br />

  <div class="mb-3 mt-3">
    <%= form.label :breed,  class: "col-sm-2 col-form-label"%>
    <%= form.text_field :breed, class: "form-control" %>
  </div><br />

  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
<% end %>

<div>
  <%= link_to "Back to cats", cats_path %>
</div>
