<%= form_with(model: @cat, data: { turbo: false }) do |form| %>
  <div class="grid buffer">
    <%= render partial: "partials/form_errors", locals: { model: @cat }%>
  
  
    <div class="mb-3 mt-3">
      <%= form.label :name, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-4">
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>

    <div class="mb-3 mt-3">
      <%= form.label :color, class: "col-sm-2 col-form-label" %>
      <div class="col-sm-4">
        <%= form.text_field :color, class: "form-control" %>
      </div>
    </div>

    <div class="mb-3 mt-3">
    
      <%= form.label :breed,  class: "col-sm-2 col-form-label"%>
      <div class="col-sm-4">
        <%= form.text_field :breed, class: "form-control" %>
      </div>
    </div> 
    
    <div>
      <%= form.submit class: "btn btn-primary" %>
      <%= link_to "Back", cats_path, class: "btn btn-primary" %> 
    </div>
  </div>
<% end %>
