<p style="color: green"><%= notice %></p>

<div id="cats">
  <%= paginate @cats %>
  <table class="table">
  <thead>
    <h1>Cats</h1>
  </thead>
  <tbody>
    <% @cats.each do |cat| %>
    <tr class="table-active">
      <td><%= cat.id %></td>
      <td><%= cat.name %></td>
      <td><%= cat.color %></td>
      <td><%= cat.breed %></td>
    </tr>
    <% end %>
  </tbody>
  </table>
  <%= paginate @cats %>
</div>

<%= link_to "New cat", new_cat_path %>
<%= button_to "Destroy this cat", @cat, method: :delete %>

