<p style="color: green"><%= notice %></p>

<div id="cats" class="buffer">
  <%= render "search_form" %>

  <%= paginate @cats %>
  <table class="table table-hover table-bordered">   
  <thead>
    <!-- <h1 class="text-center">Cats</h1> -->
    <tr>
      <th><%= sort_link @q, :id, "ID" %></th>
      <th><%= sort_link @q, :name, "Name" %></th>
      <th><%= sort_link @q, :color, "Color" %></th>
      <th><%= sort_link @q, :breed, "Breed" %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @cats.each do |cat| %>
      <tr>
        <td><%= cat.id %></td>
        <td><%= cat.name %></td>
        <td><%= cat.color %></td>
        <td><%= cat.breed %></td> 
        <td>
          <div class="dropdown">
            <button class="btn btn-success btn-sm dropdown-toggle" type="button" 
            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Actions
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><%= link_to "Show", cat, class: "dropdown-item" %></li>
              <li><%= link_to "Edit", edit_cat_path(cat), class: "dropdown-item" %></li>
              <li><%= button_to "Destroy", cat, method: :delete, 
                 form: { data: { turbo_confirm: "Are you sure?"}}, class: "dropdown-item" %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <div class="mb-3">
    <%= link_to "New", new_cat_path %>  
  </div>
  <%= paginate @cats %>
</div>
